<ng-container *ngIf="userTask">
  <task
    [model]="userTask.task"
    [userVertexShader]="userTask.vertexShader"
    [userFragmentShader]="userFragmentCode"
    [submissions]="submissions"
    [liked]="userTask.liked"
    [disliked]="userTask.disliked"
    [canEdit]="canEdit"
    (onEdit)="edit()"
    (onLike)="like()"
    (onDislike)="dislike()"
    (onFragmentCodeChange)="handleFragmentCodeChange($event)"
    (onResetToLastSubmettedCode)="resetToLastSubmettedCode()"
    (onResetToDefaultCode)="resetToDefaultCode()"
    (onSubmissionSelect)="selectSubmission($event)"
    (onSubmit)="submit($event)">
  </task>
</ng-container>