<div class="container">
    <div class="form-part">
        <div class="logo-wrapper">
            <img class="logo" src="assets/logo.svg" alt="Shader Learning">
        </div>

        <ng-container *ngIf="isTokenInvalid$ | async">
            <h2 class="title">Wrong Link</h2>
            <div class="p2 overview" role="alert">Password reset link is invalid or expired</div>
            <a class="btn-text back-link" (click)="toLogIn()"><i class="ico arrow-left-ico"></i><span class="text">Back To Sign in</span></a>
        </ng-container>

        <ng-container *ngIf="(isTokenInvalid$ | async) === false">
            <h2 class="title">Create new password</h2>

            <p class="p2 overview">Your new password must be different<br>from the previous one</p>

            <div class="form-wrapper">
                <form class="form" [formGroup]="form" (ngSubmit)="resetPassword()" autocomplete="off">
                    <div class="form-field" [ngClass]="{'invalid': form.get('password')?.invalid && form.get('password')?.touched}">
                        <label class="p2">Password</label>
                        <input name="password" type="password" placeholder="Enter your password" autocomplete="off" formControlName="new-password">

                        <div class="errors">
                            <div class="error p3" *ngIf="form.get('password')?.hasError('required')">password is required</div>
                        </div>
                    </div>

                    <div class="form-field" [ngClass]="{'invalid': form.get('passwordRepeat')?.invalid && form.get('passwordRepeat')?.touched}">
                        <label class="p2">Confirm password</label>
                        <input name="password-repeat" type="password" placeholder="Enter your password" autocomplete="off" formControlName="new-password">

                        <div class="errors">
                            <div class="error p3" *ngIf="form.get('passwordRepeat')?.hasError('required')">password confirmation is required</div>
                            <div class="error p3" *ngIf="form.get('passwordRepeat')?.hasError('notSame')">Passwords do not match</div>
                        </div>
                    </div>

                    <button type="submit" class="btn-submit btn-link">Craete</button>
                </form>

                <p class="p3 underlying-message">Don't have an account?&nbsp;<a class="link link-standout" routerLink="/password-reset" (click)="toSignUp()">Create account</a></p>
            </div>
        </ng-container>
    </div>
    <div class="image-part">
        <div class="image-wrapper">
            <img src="assets/sign-in.svg">
        </div>
    </div>
</div>


<!-- <div class="container">
    <div class="logo" routerLink="/">H</div>
    <div class="panel">
        <div class="panel-header">
            <span>Reset Password</span>
        </div>

        <form class="form" [formGroup]="form">
            <ng-container *ngIf="(isTokenInvalid$ | async) === false">
                <mat-form-field>
                    <mat-label>New Password</mat-label>
                    <input type="password" matInput formControlName="password" [errorStateMatcher]="matcher">

                    <mat-error *ngIf="form.get('password')?.hasError('required')">Password is
                        <strong>required</strong></mat-error>
                </mat-form-field>

                <div class="action">
                    <button type="submit" class="btn btn-submit btn-rounded" (click)="resetPassword()">Reset Password</button>
                </div>
            </ng-container>

            <ng-container *ngIf="isTokenInvalid$ | async">
                <div class="alert alert-warning" role="alert">Password reset link is invalid or expired</div>
            </ng-container>
        </form>

        <div class="panel-footer">
            <a class="panel-footer-link" (click)="toLogIn()">Log In</a>&nbsp;<span>or</span>&nbsp;<a class="panel-footer-link" (click)="toSignUp()">Sign Up</a>
        </div>
    </div>
</div> -->