<div class="container">
    <div class="logo" routerLink="/">H</div>
    <div class="panel">
        <div class="panel-header">
            <span>Reset Password</span>
        </div>

        <form class="form" [formGroup]="form">
            <ng-container *ngIf="(isTokenInvalid$ | async) === false">
                <mat-form-field>
                    <mat-label>New Password</mat-label>
                    <input type="password" matInput formControlName="password" [errorStateMatcher]="matcher">

                    <mat-error *ngIf="form.get('password')?.hasError('required')">Password is
                        <strong>required</strong></mat-error>
                </mat-form-field>

                <div class="action">
                    <button type="submit" class="btn btn-submit btn-rounded" (click)="resetPassword()">Reset Password</button>
                </div>
            </ng-container>

            <ng-container *ngIf="isTokenInvalid$ | async">
                <div class="alert alert-warning" role="alert">Password reset link is invalid or expired</div>
            </ng-container>
        </form>

        <div class="panel-footer">
            <a class="panel-footer-link" (click)="toLogIn()">Log In</a>&nbsp;<span>or</span>&nbsp;<a class="panel-footer-link" (click)="toSignUp()">Sign Up</a>
        </div>
    </div>
</div>