@import 'common.scss';

:host {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    @include for-tablet-down {
        overflow-y: auto;
    }
}

// @keyframes move-out-animation {
//     0% {
//         right: 0;
//     }
//     100% {
//         right: -100vw;
//     }
// }

// @keyframes move-in-animation {
//     0% {
//         right: -100vw;
//     }
//     100% {
//         right: 0;
//     }
// }

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: toRem(12);
    position: absolute;
    right: toRem(0);
    z-index: 100;
    box-sizing: border-box;
    padding: toRem(30) toRem(40);
    height: 100%;
    width: 100%;
    overflow: hidden;

    // animation: move-in-animation 1s forwards ease-in-out;
    // &.hidden {
    //     animation: move-out-animation 1s forwards ease-in-out;
    // }

    .module-tasks {
        box-sizing: border-box;
        padding: toRem(28) 0 toRem(18) toRem(28);
        height: 100%;
        width: toRem(300);
        border-radius: toRem(12);
        background: $white;
        overflow: hidden;
    }

    .scroll {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding-right: toRem(24);
        overflow-y: auto;
    }

    .toggle {
        position: absolute;
        top: 0;
        right: toRem(-14);
        display: flex;
        justify-content: center;
        align-items: center;
        width: toRem(28);
        height: toRem(28);
        border-radius: toRem(4);
        cursor: pointer;

        .ico {
            background-color: $white;
        }

        background-color: $dark-blue;

        @include for-desktop-up {
            &:hover {
                background-color: $blue-secondary;
            }
        }
        
        &:active {
            background-color: $black;
        }

        &.in {
            display: none;
        }
    }
}

.header {
    width: 100%;
    height: toRem(70);
    min-height: toRem(70);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: toRem(1) solid $light-blue;

    padding: 0 toRem(55);
    @include for-tablet-down {
        padding: 0 toRem(49);
    }

    @include for-phone-only {    
        padding: 0 toRem(40);
    }
}

.current-task {
    @include for-desktop-up {
        flex: 1;
        height: 100%;
        overflow: hidden;
    }
}

.back-link .text {
    @include for-phone-only {    
        display: none;
    }
}