<div class="container">
    <div class="form-part">
        <div class="logo-wrapper">
            <a class="logo-link" routerLink="/">
                <img class="logo" src="assets/logo.svg" alt="Shader Learning">
            </a>
        </div>
        <h2 class="title">Create Account</h2>
        <div class="form-wrapper">
            <a class="btn-link google">
                <app-svg-icon name="google"></app-svg-icon><p class="p2 label">Log in with Google</p>
                <asl-google-signin-button shape="rectangular" type="standard" size="large" locale="en" width="280px"></asl-google-signin-button>
            </a>
    
            <div class="separator">
                <div class="line"></div><span class="p3">or</span><div class="line"></div>
            </div>
            
            <form class="form" [formGroup]="form" autocomplete="on">
                <div class="form-field" [ngClass]="{'invalid': form.get('name')?.invalid && form.get('name')?.touched}">
                    <label class="p2">Name</label>
                    <input name="name" type="text" placeholder="Enter your name" formControlName="name" autocomplete="username">

                    <div class="errors">
                        <div class="error p3" *ngIf="form.get('name')?.hasError('required')">name is required</div>
                        <div class="error p3" *ngIf="form.get('name')?.hasError('USER_NAME_NOT_UNIQUE')">name is not unique</div>
                    </div>
                </div>

                <div class="form-field" [ngClass]="{'invalid': form.get('email')?.invalid && form.get('email')?.touched}">
                    <label class="p2">Email</label>
                    <input name="email" type="text" placeholder="Enter your email" formControlName="email" autocomplete="email">

                    <div class="errors">
                        <div class="error p3" *ngIf="form.get('email')?.hasError('required')">email is required</div>
                        <div class="error p3" *ngIf="form.get('email')?.hasError('email') && !form.get('email')?.hasError('required')">incorrect email</div>
                        <div class="error p3" *ngIf="form.get('email')?.hasError('EMAIL_NOT_UNIQUE')">email is not unique</div>
                    </div>
                </div>

                <div class="form-field" [ngClass]="{'invalid': form.get('password')?.invalid && form.get('password')?.touched}">
                    <label class="p2">Password</label>
                    <input name="password" type="password" placeholder="Enter your password" formControlName="password" autocomplete="new-password">

                    <div class="errors">
                        <div class="error p3" *ngIf="form.get('password')?.hasError('required')">password is required</div>
                    </div>
                </div>

                <button type="submit" class="btn-submit btn-link" (click)="signUp()">Sign Up</button>
            </form>

            <p class="p3 underlying-message">Already have an account?&nbsp;<a class="link link-standout" (click)="toLogIn()">Sign In</a></p>
        </div>
    </div>
    <div class="image-part">
        <div class="image-wrapper">
            <img src="assets/create-account.svg">
        </div>
    </div>
</div>