@import 'common.scss';

.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: toRem(40);
    max-width: toRem(570);
}

.title {
    margin-bottom: toRem(28);
}

.message {
    margin-bottom: toRem(24);
    color: $grey;
}

.form {
    display: flex;
    flex-direction: column;
    gap: toRem(12);
    margin-bottom: toRem(30);
}

.selection {
    display: flex;
    flex-direction: column;
    gap: toRem(16);
}

textarea {
    display: block;
    max-width: 100%;
    width: 100%;
    height: toRem(80);
    background-color: $white;
    border: none;
    resize: vertical;
    box-sizing: border-box;
    padding: toRem(10) toRem(16);
    border-radius: toRem(8);
    box-shadow: inset 0 0 0 toRem(1) $black;
    color: $black;
    resize: none;

    &::placeholder {
        color: $light-grey;
    }

    &:focus {
        outline-width: 0;
    }
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: toRem(12);
    width: 100%;
}
