:host {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ending {
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ending h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.ending h3 {
    font-size: 20px;
}

.ending mat-icon {
    margin-top: 30px;
    font-size: 100px;
    width: 100px;
    height: 100px;
    color: darkcyan;
}

.container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
}

.navigation {
    border-right: 1px solid #e3e3e3;
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

@media screen and (max-width: 900px) {
    .navigation {
        display: none;
    }
}

.navigation .module-header {
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
    color: black;
}

.navigation .module-header:hover {
    background-color: rgb(230, 230, 230);
}

.navigation .module-header h2 {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    margin-top: 0;
    font-weight: 500;
    box-sizing: border-box;
}

.navigation .module-header .module-progress-percentage {
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 14px;
}

.navigation .module-tasks {
    flex: 1;
    overflow: hidden;
}

.navigation .module-tasks-scroll {
    height: 100%;
    overflow-y: auto;
}

.navigation .module-tasks .task {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    color: black;
}


.navigation .module-tasks .task:hover {
    background-color: rgb(230, 230, 230);
}

.navigation .module-tasks .task .status {
    margin-top: 3px;
    margin-right: 10px;
}

.navigation .module-tasks .task .status mat-icon {
    color: darkcyan;
}

.vertical-line {
    margin-left: 26px;
    border: 0;
    position: relative;
}

.vertical-line::before {
    content: "";
    position: absolute;
    left: 0;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: rgb(230, 230, 230);
    top: -13px;
    bottom: -13px;
}

.current-task {
    flex: 1;
    max-width: 100%;
}