@import 'common.scss';

:host {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: toRem(20) 0 toRem(80) 0;
    display: flex;
    flex-direction: column;
}

.back-link {
    margin-bottom: toRem(36);
}

.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: toRem(50);

    @include for-tablet-down {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: toRem(10);
        margin-bottom: toRem(46);
    }

    @include for-phone-only {
        margin-bottom: toRem(20);
    }

    .title {
        display: flex;
        align-items: center;
        gap: toRem(20);
    
        .user-score {
            display: inline-block;
            flex-direction: row;
            box-sizing: border-box;
            padding: toRem(4) toRem(8);
            background-color: $light-blue;
            border-radius: toRem(24);
            color: $blue;
        }
    }
    
    .statistics {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: toRem(16);

        .divider {
            width: toRem(1);
            height: toRem(24);
            box-sizing: border-box;
            border-right: solid toRem(1) $light-blue;
        }
    }
}

.empty {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .ico {
        margin-bottom: toRem(28);
    }

    .title {
        margin-bottom: toRem(10);
        color: $grey;
    }

    .message {
        color: $grey;
    }
}

.rating {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: toRem(12);
    border: solid toRem(1) $light-blue;

    &.hidden {
        visibility: hidden;
    }

    .table {
        flex: 1;
        width: 100%;

        overflow: hidden;
        @include for-phone-only {
            overflow-x: auto;
        }

        table {
            box-shadow: none;
            overflow: hidden;
            border: none;
        }
    
        thead {
            background: $white;
        }
    
        .header-row {
            height: toRem(50);
            max-height: toRem(50);
            background-color: $white;
        }
    
        .header-cell {
            color: $grey;
            box-sizing: border-box;
            padding: 0;
    
            &:last-child {
                padding-right: toRem(80);
                @include for-tablet-down {
                    padding-right: toRem(40);
                }
                @include for-phone-only {
                    padding-right: toRem(0);
                }
            }
        }
    
        .row:nth-child(even) {
            background-color: $white;
        }
                
        .row:nth-child(odd) {
            background-color: $white-2;
        }
    
        td, th {
            border: none;
        }
    
        .row {
            height: toRem(50);
            max-height: toRem(50);
        }
    
        .cell {
            color: $black;
            box-sizing: border-box;
            padding: 0;
    
            &:last-child {
                padding-right: toRem(80);
                @include for-tablet-down {
                    padding-right: toRem(40);
                }
                @include for-phone-only {
                    padding-right: toRem(0);
                }
            }
        }
    
        .task {
            min-width: toRem(320);
            max-width: toRem(320);
            box-sizing: border-box;
            padding-left: toRem(40);
            text-align: left;

            @include for-tablet-down {
                min-width: toRem(280);
                max-width: toRem(280);
            }

            @include for-phone-only {
                padding-left: toRem(20);
                min-width: toRem(140);
                max-width: toRem(140);
            }
        }
    
        .score {
            min-width: toRem(80);
            max-width: toRem(80);
            box-sizing: border-box;
            padding-left: toRem(40);
            text-align: right;

            @include for-phone-only {
                padding-left: toRem(20);
                min-width: toRem(60);
                max-width: toRem(60);
            }
        }
    
        .status {
            min-width: toRem(520);
            max-width: toRem(520);
            box-sizing: border-box;
            padding-left: toRem(160);

            @include for-tablet-down {
                min-width: toRem(240);
                max-width: toRem(240);
                padding-left: toRem(80);
            }

            @include for-phone-only {
                min-width: unset;
                max-width: unset;
                width: 100%;
                padding-left: toRem(20);
            }

            .container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: toRem(3);

                &.accepted .message {
                    color: $green-secondary;
                }

                &.accepted .ico {
                    background-color: $green-secondary;
                }

                &.rejected .message {
                    color: $red;
                }

                &.rejected .ico {
                    background-color: $red;
                }

                @include for-phone-only {
                    .message {
                        display: none;
                    }
                }
            }

            .ico {
                width: toRem(20);
                height: toRem(20);
                -webkit-mask-size: toRem(20);
                mask-size: toRem(20);
            }
        }
    }

    .paginator {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: toRem(16);
        width: 100%;
        height: toRem(60);
        white-space: nowrap;
        box-sizing: border-box;

        padding-right: toRem(40);
        @include for-phone-only {
            padding-right: toRem(20);
        }

        .range-label {
            box-sizing: border-box;
            padding-right: toRem(16);
            color: $grey;

            @include for-phone-only {
                display: none;
            }
        }
    }
}

mat-paginator {
    position: absolute;
    width: 100%;
    background: none;
    visibility: hidden;
    width: 0;
    height: 0;
}

.back-link .btn-text {
    @include for-phone-only {    
        display: none;
    }
}