@import 'common.scss';

:host {
    display: block;
    width: 100%;
    height: 100%;
    background-color: $white;
    box-sizing: border-box;
    padding: toRem(12) toRem(16) toRem(14) toRem(16);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.alert-ico {
    margin-right: toRem(12);
}

.message {
    margin-right: toRem(28);

    .p3 {
        color: $red;
    }
}

.alert-circle-ico {
    background-color: $red;
}

.close-ctrl {
    cursor: pointer;
}