.vertical-line {
    margin-left: 26px;
    border: 0;
    position: relative;
}

.vertical-line::before {
    content: "";
    position: absolute;
    left: 0;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: rgb(230, 230, 230);
    top: -13px;
    bottom: -13px;
}