<div class="page-container">

  <div class="page">

    <div class="page-scroll">

      <div class="container">

        <div class="overlay"></div>

        <div class="author">
          <h1 class="name">Alexander Alkevich</h1>

          <img src="assets/me.jpeg">

          <div class="contact"><a href="mailto:alckevich@live.com">alckevich@live.com</a></div>
          <div class="contact"><a href="https://www.linkedin.com/in/alexander-alckevich-8841a4124/">LinkedIn</a></div>
        </div>
    
        <div class="message">I hope you've enjoyed my work. Your help inspires me to further develop the project.</div>
      </div>

    </div>

  </div>

  <div class="page-footer">
    <a href="https://www.buymeacoffee.com/alckevich"><span>Buy me a coffee</span></a>
  </div> 

</div>