@import 'common.scss';

:host {
    display: block;

    width: 100%;
    height: 100%;

    background-color: $blue;
    border-top-left-radius: toRem(40);
    border-top-right-radius: toRem(40);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: toRem(80);
}

.persons {
    display: flex;
    flex-direction: row;
    gap: toRem(40);
    margin-top: toRem(80);

    @include for-phone-only {    
        flex-direction: column;
        gap: toRem(30);
        margin-top: toRem(50);
    }
}

.person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: toRem(170);
    width: fit-content;
    min-height: toRem(220);

    .photo {
        width: toRem(160);
        min-width: toRem(160);
        height: toRem(160);
        min-height: toRem(160);
        border-radius: 100%;
        background-color: $light-grey;
    }
    
    .name {
        margin-top: toRem(15);
        color: $white;
        white-space: nowrap;
    }
    
    .title {
        color: $white;
        white-space: nowrap;
    }
}

.message {
    margin-top: toRem(30);
    color: $white;
    text-align: center;
}

.btn-donate {
    margin-top: toRem(40);
}

.animation-box-1 {
    width: toRem(100);
    height: toRem(100);
    position: absolute;
    top: toRem(50);
    left: toRem(-10);

    @include for-desktop-up {
        top: toRem(80);
        left: toRem(50);
    }
}

.animation-box-2 {
    width: toRem(60);
    height: toRem(60);
    position: absolute;
    top: toRem(180);
    left: toRem(0);
}

.animation-box-3 {
    position: absolute;
    width: toRem(100);
    height: toRem(100);
    bottom: toRem(110);
    right: toRem(60);
}

.animation-box-4 {
    position: absolute;
    width: toRem(60);
    height: toRem(60);
    bottom: toRem(70);
    right: toRem(0);

    @include for-desktop-up {
        bottom: toRem(200);
        right: toRem(0);
    }
}

.medium {
    .animation-box-2 {
        top: toRem(60);
        left: toRem(0);
    }

    .animation-box-3 {
        right: toRem(0);
        bottom: toRem(80);
    }
}