<form class="form" [formGroup]="form">
    <div class="form-row">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name" [errorStateMatcher]="matcher" autocomplete="off">
            
            <mat-error *ngIf="form.get('name')?.hasError('required')">Name is <strong>required</strong></mat-error>

            <mat-error *ngIf="form.get('name')?.hasError('TASK_NAME_NOT_UNIQUE')">Name is not unique</mat-error>
        </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field>
            <mat-label>Cost</mat-label>
            <input type="text" matInput formControlName="cost" [errorStateMatcher]="matcher" autocomplete="off">
            
            <mat-error *ngIf="form.get('cost')?.hasError('pattern') && !form.get('cost')?.hasError('required')">Please enter a valid cost value</mat-error>
            
            <mat-error *ngIf="form.get('cost')?.hasError('required')">Cost is <strong>required</strong></mat-error>
        </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field>
            <mat-label>Threshold (1 - 100)</mat-label>
            <input type="text" matInput formControlName="threshold" [errorStateMatcher]="matcher" autocomplete="off">
            
            <mat-error *ngIf="form.get('threshold')?.hasError('pattern') && !form.get('threshold')?.hasError('required')">Please enter a valid threshold value</mat-error>
            
            <mat-error *ngIf="form.get('threshold')?.hasError('required')">Threshold is <strong>required</strong></mat-error>
        </mat-form-field>
    </div>

    <div class="form-section">
        <div class="section-header">
            Description
        </div>
        <div class="form-row">
            <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="markdownTapChanged($event)">
                <mat-tab label="Write">
                    <textarea class="description-markdown" matInput formControlName="description" [errorStateMatcher]="matcher" autocomplete="off"></textarea>
                </mat-tab>

                <mat-tab label="Preview">
                    <div class="description-markdown-compiled" [innerHtml]="compiledMarkdown"></div>
                </mat-tab>

                <mat-error *ngIf="form.get('description')?.hasError('required')">Description is <strong>required</strong></mat-error>
            </mat-tab-group>
        </div>
    </div>

    <div class="form-section">

        <div class="section-header">
            Program
        </div>

        <div class="form-row">
            <div class="scene">
                <app-gl-scene
                [vertexShader]="vertexShader"
                [fragmentShader]="fragmentShaderApplied"
                [compileTrigger]="compileTrigger"
                (onError)="handleFragmentShaderCompilationError($event)"
                (onSuccess)="handleFragmentShaderCompilationSuccess()">
                </app-gl-scene>
            </div>
        </div>

        <div class="form-row">
            <div class="code-editor-container">
                <div class="code">
                <ngx-codemirror
                    [(ngModel)]="fragmentShader"
                    [ngModelOptions]="{standalone: true}"
                    [options]="{
                    tabSize: 2,
                    autofocus: false,
                    lineNumbers: true,
                    mode: 'x-shader/x-fragment'
                    }"
                ></ngx-codemirror>
                </div>
            
                <div class="toolbar">
                <a class="btn-run" (click)="run()">
                    <span class="btn-run-ico"></span>
                </a>
                </div>
            
                <div class="output" [ngClass]="programOutput.error ? 'error' : 'success'">
                <pre>{{ programOutput.message }}</pre>
                </div>
            </div>
        </div>
    </div>

    <div *hasPermission="['task_edit_visibility']" class="form-section">
        <div class="form-row">
            <mat-checkbox formControlName="visibility" color="primary">Visible</mat-checkbox>
        </div>
    </div>
</form>