:host {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.form-section {
    max-width: 800px;
}

.form-row {
    margin-bottom: 20px;
}

mat-form-field {
    width: 100%;
}

.description-markdown {
    overflow: hidden;
    overflow-y: auto;
    overflow-wrap: break-word;
    resize: none;
    height: 196px;
    background: #fff;
    min-height: 140px;
    max-height: 500px;
    padding: 5px;
    box-shadow: none;
    width: 100%;
    box-sizing: border-box;
}

.description-markdown-compiled {
    min-height: 140px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.section-header {
    font-size: 20px;
    padding-bottom: 10px;
}

.action {
    display: flex;
    flex-direction: row;
}

.channels {
    display: flex;
    flex-direction: row;
    gap: 15px; 
    flex-wrap: wrap;
}

.description-section {
    min-height: 300px;
}

.programs-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.programs-section .task-program {
    flex: 1;
}

.programs-section .default-program {
    flex: 1;
}

.default-program .section-header {
    position: relative;
}

.default-program .section-header mat-checkbox {
    position: absolute;
    top: -7px;
}