<form class="form" [formGroup]="form">
    <div class="form-section">
        <div class="form-row">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input type="text" matInput formControlName="name" [errorStateMatcher]="matcher" autocomplete="off">
                
                <mat-error *ngIf="form.get('name')?.hasError('required')">Name is <strong>required</strong></mat-error>

                <mat-error *ngIf="form.get('name')?.hasError('TASK_NAME_NOT_UNIQUE')">Name is not unique</mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            <mat-form-field>
                <mat-label>Cost</mat-label>
                <input type="text" matInput formControlName="cost" [errorStateMatcher]="matcher" autocomplete="off">
                
                <mat-error *ngIf="form.get('cost')?.hasError('pattern') && !form.get('cost')?.hasError('required')">Please enter a valid cost value</mat-error>
                
                <mat-error *ngIf="form.get('cost')?.hasError('required')">Cost is <strong>required</strong></mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            <mat-form-field>
                <mat-label>Threshold (1 - 100)</mat-label>
                <input type="text" matInput formControlName="threshold" [errorStateMatcher]="matcher" autocomplete="off">
                
                <mat-error *ngIf="form.get('threshold')?.hasError('pattern') && !form.get('threshold')?.hasError('required')">Please enter a valid threshold value</mat-error>
                
                <mat-error *ngIf="form.get('threshold')?.hasError('required')">Threshold is <strong>required</strong></mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            <mat-checkbox formControlName="animated" color="primary">Animated</mat-checkbox>
        </div>

        <div class="form-row" *ngIf="form.get('animated')?.value">
            <mat-form-field>
                <mat-label>Animation Steps</mat-label>
                <input type="text" matInput formControlName="animationSteps" [errorStateMatcher]="matcher" autocomplete="off">
                
                <mat-error *ngIf="form.get('animationSteps')?.hasError('pattern') && !form.get('animationSteps')?.hasError('required')">Please enter a valid value</mat-error>
                
                <mat-error *ngIf="form.get('animationSteps')?.hasError('required')">Animation steps number is <strong>required</strong></mat-error>
            </mat-form-field>
        </div>

        <div class="form-row" *ngIf="form.get('animated')?.value">
            <mat-form-field>
                <mat-label>Animation Step Time (ms)</mat-label>
                <input type="text" matInput formControlName="animationStepTime" [errorStateMatcher]="matcher" autocomplete="off">
                
                <mat-error *ngIf="form.get('animationStepTime')?.hasError('pattern') && !form.get('animationStepTime')?.hasError('required')">Please enter a valid value</mat-error>
                
                <mat-error *ngIf="form.get('animationStepTime')?.hasError('required')">Animation step time is <strong>required</strong></mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="form-section description-section">
        <div class="section-header">
            Description
        </div>
        <div class="form-row">
            <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="markdownTapChanged($event)">
                <mat-tab label="Write">
                    <textarea class="description-markdown" matInput formControlName="description" [errorStateMatcher]="matcher" autocomplete="off"></textarea>
                </mat-tab>

                <mat-tab label="Preview">
                    <div class="description-markdown-compiled" [innerHtml]="compiledMarkdown"></div>
                </mat-tab>

                <mat-error *ngIf="form.get('description')?.hasError('required')">Description is <strong>required</strong></mat-error>
            </mat-tab-group>
        </div>
    </div>

    <div class="form-section description-section">
        <scene-settings-form [form]="form.get('sceneSettings')"></scene-settings-form>
    </div>

    <div class="programs-section">
        <div class="task-program">

            <div class="section-header">
                Program
            </div>
    
            <div class="form-row">
                <div class="scene">
                    <app-gl-scene
                        [sceneData]="form.value.sceneSettings"
                        [vertexShader]="taskVertexShaderApplied"
                        [fragmentShader]="taskFragmentShaderApplied"
                        [channels]="glProgramChannels"
                        [compileTrigger]="taskCompileTrigger"
                        (onError)="handleTaskProgramCompilationError($event)"
                        (onSuccess)="handleTaskProgramCompilationSuccess()">
                    </app-gl-scene>
                </div>
            </div>
    
            <div class="form-row channels">
                <task-channel
                    label="&nbsp;"
                    [showPreview]="false"
                    (select)="addChannel($event)"
                ></task-channel>
                <ng-container *ngFor="let channelForm of channels.controls; let i = index">
                    <ng-container [formGroup]="channelForm">
                        <task-channel
                            [label]="'iChannel' + i"
                            formControlName="file"
                            (select)="hanldeChannelChange()"
                            (clear)="removeChannel(i)"
                        ></task-channel>
                    </ng-container>
                </ng-container>
            </div>

            <div class="form-row">
                <code-editor
                  [files]="taskProgram"
                  [prompts]="taskProgramPrompts"
                  (onChange)="handleTaskProgramFileChange($event)"
                  (onRun)="runTask()"
                ></code-editor>
            </div>
        </div>
    
        <div class="default-program">
    
            <div class="section-header">
                Default Program
            </div>
    
            <div class="form-row">
                <div class="scene">
                    <app-gl-scene
                        [sceneData]="form.value.sceneSettings"
                        [vertexShader]="defaultVertexShaderApplied"
                        [fragmentShader]="defaultFragmentShaderApplied"
                        [channels]="glProgramChannels"
                        [compileTrigger]="defaultCompileTrigger"
                        (onError)="handleDefaultProgramCompilationError($event)"
                        (onSuccess)="handleDefaultSProgramCompilationSuccess()">
                    </app-gl-scene>
                </div>
            </div>

            <div class="form-row channels">
                <task-channel
                    label="&nbsp;"
                    [showPreview]="false"
                    (select)="addChannel($event)"
                ></task-channel>
                <ng-container *ngFor="let channelForm of channels.controls; let i = index">
                    <ng-container [formGroup]="channelForm">
                        <task-channel
                            [label]="'iChannel' + i"
                            formControlName="file"
                            (select)="hanldeChannelChange()"
                            (clear)="removeChannel(i)"
                        ></task-channel>
                    </ng-container>
                </ng-container>
            </div>

            <div class="form-row">
                <code-editor
                  [files]="defaultProgram"
                  [prompts]="defaultProgramPrompts"
                  (onChange)="handleDefaultProgramFileChange($event)"
                  (onRun)="runDefault()"
                ></code-editor>
            </div>
        </div>
    </div>

    <div class="form-row">
        <mat-checkbox formControlName="vertexCodeEditable" color="primary">Vertex Shader</mat-checkbox>
        <mat-checkbox formControlName="fragmentCodeEditable" color="primary">Fragment Shader</mat-checkbox>
    </div>

    <div *hasPermission="['task_edit_visibility']" class="form-section">
        <div class="form-row">
            <mat-checkbox formControlName="visibility" color="primary">Visible</mat-checkbox>
        </div>
    </div>
</form>