@import 'common.scss';

:host {
    display: block;
    width: 100%;
    overflow: hidden;

    @include for-desktop-up {
        height: 100%;
    }
}

.btn-like.like.active {
    color: $dark-blue;

    .thumbs-up-ico {
        -webkit-mask-image: url(/assets/thumbs-up-filled.svg);
        mask-image: url(/assets/thumbs-up-filled.svg);
        background-color: $dark-blue;
    }
}

@include for-desktop-up {
    .btn-like.like:hover {
        color: $white;

        .thumbs-up-ico {
            -webkit-mask-image: url(/assets/thumbs-up.svg);
            mask-image: url(/assets/thumbs-up.svg);
            background-color: $white;
        }
    }
}

.btn-like.dislike.active {
    color: $dark-blue;

    .thumbs-down-ico {
        -webkit-mask-image: url(/assets/thumbs-down-filled.svg);
        mask-image: url(/assets/thumbs-down-filled.svg);
        background-color: $dark-blue;
    }
}

@include for-desktop-up {
    .btn-like.dislike:hover {
        color: $white;
        
        .thumbs-down-ico {
            -webkit-mask-image: url(/assets/thumbs-down.svg);
            mask-image: url(/assets/thumbs-down.svg);
            background-color: $white;
        }
    }
}

.task {
    width: 100%;
    display: flex;
    overflow: hidden;

    @include for-desktop-up {
        height: 100%;
        flex-direction: row;
    }

    @include for-tablet-down {
        flex-direction: column;
    }
}

.body-left {
    @include for-desktop-up {
        width: 43%;
        height: 100%;
    }

    @include for-tablet-down {
        width: 100%;
    }
    
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: toRem(20);
    box-sizing: border-box;

    padding: toRem(30) 0 toRem(30) toRem(55);
    @include for-tablet-down {
        padding-left: toRem(49);
    }
    @include for-phone-only {
        padding-left: toRem(40);
    }


    .heading {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: toRem(8);
        box-sizing: border-box;
        padding-bottom: toRem(10);    

        padding-right: toRem(24);
        @include for-tablet-down {
            padding-right: toRem(49);
        }
        @include for-phone-only {
            padding-right: toRem(40);
            flex-direction: column;
            gap: toRem(10);
            padding-bottom: toRem(0);    
        }
        
        .name {
            flex: 1;
        }
    
        .tools {
            display: flex;
            flex-direction: row;
            align-items: center;
    
            .btn-text {
                width: toRem(40);
                height: toRem(40);
            }
        }
    }

    .tabs {
        display: flex;
        flex-direction: row;
        gap: toRem(8);
    
        .tab {
            box-sizing: border-box;
            padding: toRem(4) toRem(12);
            cursor: pointer;
    
            &.active {
                box-shadow: 0 0 0 toRem(1) $blue;
                border-radius: toRem(16);
                color: $blue;
            }
        }
    }

    .tab-content {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        box-sizing: border-box;

        padding-right: toRem(24);
        @include for-tablet-down {
            padding-right: toRem(49);
        }
        @include for-phone-only {
            padding-right: toRem(40);
        }
    }

    .actions {
        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: toRem(12);
        box-sizing: border-box;
        padding-right: toRem(24);

        @include for-tablet-down {
            display: none;
        }
    }

    .channels {
        margin-top: toRem(20);

        .list {
            margin-top: toRem(15);
            display: flex;
            flex-direction: row;
            gap: toRem(17);
        }
    }
}

.body-right {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: $light-blue;

    @include for-desktop-up {
        height: 100%;
        flex: 1;
    }

    @include for-tablet-down {
        width: 100%;
    }
} 

.editor-section {
    flex: 1;
    overflow: hidden;

    .container {
        @include for-desktop-up {
            height: 100%;
        }
    
        @include for-tablet-down {
            height: toRem(500);
            max-height: toRem(500);
        }

        overflow: hidden;
        position: relative;
    }

    .toast {
        width: 100%;
        // height: fit-content;
        box-sizing: border-box;
        position: absolute;
        bottom: toRem(10);

        padding: 0 toRem(55) 0 toRem(44 + 8);
        @include for-phone-only {
            padding-right: toRem(8);
        }

        .container {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            gap: toRem(12);
            background: $white;

            border: toRem(1) solid $black;
            border-radius: toRem(8);
            box-sizing: border-box;
            padding: toRem(12) toRem(16);
        }

        .message {
            flex: 1
        }

        .close-ctrl {
            cursor: pointer;
            color: $black;
        }

        &.success {
            .container {
                border-color: $green-secondary;
            }

            .check-circle-ico {
                background-color: $green-secondary;
            }

            .message {
                color: $green-secondary;
            }
        }

        &.error {
            .container {
                border-color: $red;
            }

            .alert-circle-ico {
                background-color: $red;
            }

            .message {
                color: $red;
            }
        }

        &.fade-in {
            animation: fadeIn 0.5s forwards;
        }

        &.fade-out {
            animation: fadeOut 0.5s forwards;
        }

        @keyframes fadeIn {
            0% { 
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @keyframes fadeOut {
            0% { 
                opacity: 1;
            }
            100% {
                visibility: hidden;
                opacity: 0;
            }
        }
    }

    @include for-phone-only {
        ::ng-deep .ͼo .cm-gutter.cm-gutter-lint {
            width: toRem(5);
        }
    }
}

.output-section {
    box-sizing: border-box;
    padding: toRem(20) toRem(55) toRem(0) toRem(44);
    @include for-phone-only {
        padding: toRem(20) toRem(40) toRem(0) toRem(40);
    }

    .container {
        height: toRem(260);
        display: flex;
        gap: toRem(16);
        overflow: hidden;
        background-color: $white;
        box-sizing: border-box;
        padding: toRem(16) toRem(16) toRem(20) toRem(16);
        border-radius: toRem(8);

        @include for-phone-only {
            height: toRem(500);
            flex-direction: column;
        }
    }

    .output {
        height: 100%;
        flex: 1;

        display: flex;
        flex-direction: column;
        gap: toRem(10);

        .render-img {
            flex: 1;
            overflow: hidden;
        }
    }
}

.toolbar-section {
    box-sizing: border-box;
    padding: toRem(20) toRem(55) toRem(30) toRem(44);
    @include for-phone-only {
        padding: toRem(20) toRem(40) toRem(40) toRem(40);
    }

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;

        @include for-phone-only {
            flex-direction: column-reverse;

            .spacer {
                height: toRem(16);
            }
        }

        @include for-tablet-up {
            .btn-link + .btn-link {
                margin-left: toRem(12);
            }

            .spacer {
                flex: 1;
            }
        }

        .btn-text + .btn-text {
            margin-left: toRem(20);
        }
    }

    .toolbar-group {
        display: flex;
        flex-direction: row;
        align-items: center;

        @include for-phone-only {
            width: 100%;

            &.actions {
                flex-direction: column;
                gap: toRem(10);

                .btn-link {
                    width: 100%;
                }
            }
        }
    }
}

.footer-actions {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: toRem(12);
    box-sizing: border-box;
    padding: toRem(30) toRem(49);

    @include for-desktop-up {
        display: none;
    }

    @include for-phone-only {
        padding: toRem(30) 0;
        justify-content: center
    }
}