
@import 'common.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: toRem(40) 0;
    max-width: toRem(380);
    min-width: toRem(380);

    @include for-phone-only {    
        min-width: 0;
        padding: toRem(40);
    }
}

.ico {
    margin-bottom: toRem(30);
}

.ico.accepted {
    width: toRem(168);
    min-width: toRem(168);
    height: toRem(168);
    min-height: toRem(168);
}

.ico.rejected {
    width: toRem(124);
    min-width: toRem(124);
    height: toRem(168);
    min-height: toRem(168);
    box-sizing: border-box;
    padding: toRem(20) 0 toRem(22) 0;
}

.title {
    margin-bottom: toRem(20);
    
    &.accepted {
        color: $blue;
    }

    &.rejected {
        color: $red;
    }
}

.message {
    margin-bottom: toRem(30);
    text-align: center;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: toRem(10);
    width: 100%;
    box-sizing: border-box;

    @include for-tablet-up {    
        padding: 0 toRem(40);
    }
}