.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    color: black;
    cursor: default;
}

.task.available:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}