.code-editor-container {
    width: 100%;
    border: 1px solid #ddd;
}

.code-editor-container .toolbar {
    height: 30px;
    border-top: 1px solid #ddd;
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
}

.code-editor-container .output {
    height: 50px;
    overflow: auto;
    padding: 0 10px;
    box-sizing: border-box;
}

.code-editor-container .output .item {
    margin: 5px 0;
}

.code-editor-container .output .item.success {
    color: green;
}

.code-editor-container .output .item.error {
    color: brown;
}

a.btn-run {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.btn-run-ico {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid darkcyan;
    margin-right: -10px;
}

a.btn-run:hover .btn-run-ico {
    border-left: 15px solid rgb(0, 176, 176);
}