<div class="heading ph-animation">
  <div class="container max-width">

    <div class="back-link"></div>

    <div class="title"><div class="module-name"></div><div class="capacity"></div></div>
    
    <div class="description">
      <div class="item w80"></div>
      <div class="item w50"></div>
      <div class="item w30"></div>
      <div class="item w80"></div>
      <div class="item w50"></div>
      <div class="item w30"></div>
      <div class="item w80"></div>
      <div class="item w50"></div>
      <div class="item w30"></div>
      <div class="item w80"></div>
      <div class="item w30"></div>
      <div class="item w50"></div>
      <div class="item w30"></div>
      <div class="item w80"></div>
      <div class="item w30"></div>
      <div class="item w80"></div>
      <div class="item w50"></div>
      <div class="item w30"></div>
      <div class="item w80"></div>
      <div class="item w50"></div>
      <div class="item w30"></div>
      <div class="item w80"></div>
      <div class="item w50"></div>
      <div class="item w30"></div>
      <div class="item w80"></div>
      <div class="item w30"></div>
      <div class="item w50"></div>
      <div class="item w30"></div>
      <div class="item w80"></div>
      <div class="item w30"></div>
    </div>

    <div class="btn-link-ph"></div>

  </div>
</div>

<div class="curriculum max-width">
  <module-navigation-placeholder></module-navigation-placeholder>
</div>