<ng-container *ngIf="userTask">
  <task
    [model]="userTask.task"
    [shaderProgram]="userShaderProgram"
    [submissions]="submissions"
    [liked]="userTask.liked"
    [disliked]="userTask.disliked"
    [canEdit]="canEdit"
    [isFirstTask]="isFirstTask"
    [isNextTaskAvailable]="isNextTaskAvailable"
    (onEdit)="edit()"
    (onLike)="like()"
    (onDislike)="dislike()"
    (onUShaderProgramChange)="handleFragmentCodeChange($event)"
    (onResetToLastSubmettedCode)="resetToLastSubmettedCode()"
    (onResetToDefaultCode)="resetToDefaultCode()"
    (onSubmissionSelect)="selectSubmission($event)"
    (onSubmit)="submit($event)"
    (onSwitchToPrev)="switchToPrevTask()"
    (onSwitchToNext)="switchToNextTask()"
    >
  </task>
</ng-container>