<ng-container *ngIf="loaded$ | async">
  <task
    [model]="(task$ | async)!"
    [shaderProgram]="(userShaderProgram$ | async)!"
    [submissions]="(submissions$ | async)!"
    [accepted]="(accepted$ | async) === true"
    [liked]="(liked$ | async) === true"
    [disliked]="(disliked$ | async) === true"
    [canEdit]="(canEdit$ | async) === true"
    [isPrevTaskAvailable]="(isPrevTaskAvailable$ | async) === true"
    [isNextTaskAvailable]="(isNextTaskAvailable$ | async) === true"
    (onEdit)="edit()"
    (onLike)="like()"
    (onDislike)="dislike()"
    (onUShaderProgramChange)="handleFragmentCodeChange($event)"
    (onResetToLastSubmettedCode)="resetToLastSubmettedCode()"
    (onResetToDefaultCode)="resetToDefaultCode()"
    (onSubmissionSelect)="selectSubmission($event)"
    (onSubmit)="submit($event)"
    (onSwitchToPrev)="switchToPrev()"
    (onSwitchToNext)="switchToNext()"
    >
  </task>
</ng-container>