<div class="container">
  <div class="column">
    <ng-container *ngIf="isPrimaryVisible">
      <feedback-card [model]="data[visibleIndex]" [isPrimary]="true" [style.opacity]="opacity"></feedback-card>
    </ng-container>
  </div>

  <div class="column">
    <div class="ctrls">
      <a class="btn-circle" [attr.disabled]="prevDisabled" (click)="prev()"><i class="ico chevron-left-ico"></i></a>
      <a class="btn-circle" [attr.disabled]="nextDisabled" (click)="next()"><i class="ico chevron-right-ico"></i></a>
    </div>

    <ng-container *ngIf="isSecondaryVisible">
      <feedback-card [model]="data[visibleIndex + 1]" [isPrimary]="false" [style.opacity]="opacity"></feedback-card>
    </ng-container>
  </div>
</div>