@import 'common.scss';

:host {
    display: block;
    width: 100%;
    height: 100%;
}

.container.big {
    display: flex;
    flex-direction: row;
    gap: toRem(40);
    position: relative;
    
    .ctrls {
        display: flex;
        justify-content: flex-end;
        gap: toRem(20);
        margin-bottom: toRem(130);
    }
}

.container.medium {
    display: flex;
    flex-direction: column;
    gap: toRem(40);
    position: relative;

    .secondary-card-row {
        padding-left: toRem(160);
    }
    
    .ctrls {
        display: flex;
        justify-content: center;
        gap: toRem(20);
    }
}