<div class="container">
    <div class="logo" routerLink="/">H</div>
    <div class="panel">
        <div class="panel-header">
            <span>Reset Password</span>
        </div>

        <form class="form" [formGroup]="form">

            <ng-container *ngIf="(isSent$ | async) === false">
                <p class="overview">
                    Enter your email address below and we'll send you a link to reset your password.
                </p>

                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher">

                    <mat-error
                        *ngIf="form.get('email')?.hasError('email') && !form.get('email')?.hasError('required')"
                        >Please enter a valid email address</mat-error>

                    <mat-error *ngIf="form.get('email')?.hasError('required')">Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <div class="action">
                    <button type="submit" class="btn btn-submit btn-rounded" (click)="resetPassword()">Reset Password</button>
                </div>

            </ng-container>

            <ng-container *ngIf="isSent$ | async">
                <div class="alert alert-warning" role="alert">Check your inbox for the next steps.
                    If you don't receive an email, and it's not in your spam folder
                    this could mean you signed up with a different address.
                </div>
            </ng-container>
        </form>

        <div class="panel-footer">
            <a class="panel-footer-link" (click)="toLogIn()">Log In</a>&nbsp;<span>or</span>&nbsp;<a class="panel-footer-link" (click)="toSignUp()">Sign Up</a>
        </div>
    </div>
</div>