<div class="container">
    <div class="form-part">
        <div class="logo-wrapper">
            <img class="logo" src="assets/logo.svg" alt="Shader Learning">
        </div>

        <ng-container *ngIf="(isSent$ | async) === false">
            <h2 class="title">Reset Password</h2>
            <p class="p2 overview">Enter your email and we'll send<br>a password reset link.</p>
        </ng-container>

        <ng-container *ngIf="isSent$ | async">
            <h2 class="title">Check your email</h2>
            <p class="p2 overview">We send a password reset link<br>to {{form.get('email')?.value}}</p>
        </ng-container>

        <div class="form-wrapper">
            
            <ng-container *ngIf="(isSent$ | async) === false">
                <form class="form" [formGroup]="form">
                    <div class="form-field" [ngClass]="{'invalid': form.get('email')?.invalid && form.get('email')?.touched}">
                        <label class="p2">Email address</label>
                        <input type="text" placeholder="Enter your email" formControlName="email">

                        <div class="errors">
                            <div class="error p3" *ngIf="form.get('email')?.hasError('required')">email is required</div>
                            <div class="error p3" *ngIf="form.get('email')?.hasError('email') && !form.get('email')?.hasError('required')">incorrect email</div>
                            <div class="error p3" *ngIf="form.get('email')?.hasError('EMAIL_NOT_FOUND')">email is not found</div>
                        </div>
                    </div>

                    <button type="submit" class="btn-submit btn-link" (click)="resetPassword()">Reset Password</button>
                </form>
            </ng-container>

            <ng-container *ngIf="isSent$ | async">
                <form class="form">
                    <button type="submit" class="btn-submit btn-link btn-resend" (click)="resend()">Click to resend</button>
                </form>
            </ng-container>

            <div class="back-link-wrapper">
                <a class="back-link" (click)="toLogIn()"><span class="ico-container"><i class="arrow-left-ico"></i></span><span class="p3">Back To Sign in</span></a>
            </div>
        </div>
    </div>
    <div class="image-part">
        <div class="image-wrapper">
            <img src="assets/sign-in.svg">
        </div>
    </div>
</div>





<!-- <div class="container">
    <div class="logo" routerLink="/">H</div>
    <div class="panel">
        <div class="panel-header">
            <span>Reset Password</span>
        </div>

        <form class="form" [formGroup]="form">

            <ng-container *ngIf="(isSent$ | async) === false">
                <p class="overview">
                    Enter your email and we'll send a password reset link.
                </p>

                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher">

                    <mat-error
                        *ngIf="form.get('email')?.hasError('email') && !form.get('email')?.hasError('required')"
                        >Please enter a valid email address</mat-error>

                    <mat-error *ngIf="form.get('email')?.hasError('required')">Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <div class="action">
                    <button type="submit" class="btn btn-submit btn-rounded" (click)="resetPassword()">Reset Password</button>
                </div>

            </ng-container>

            <ng-container *ngIf="isSent$ | async">
                <div class="alert alert-warning" role="alert">Check your inbox for the next steps.
                    If you don't receive an email, and it's not in your spam folder
                    this could mean you signed up with a different address.
                </div>
            </ng-container>
        </form>

        <div class="panel-footer">
            <a class="panel-footer-link" (click)="toLogIn()">Log In</a>&nbsp;<span>or</span>&nbsp;<a class="panel-footer-link" (click)="toSignUp()">Sign Up</a>
        </div>
    </div>
</div> -->