:host {
    width: 100%;
    display: block;
}

.table {
    flex: 1;
    min-height: 315px;
}

.table > table {
    box-shadow: none;
}

.table > table th {
    width: 20%;
}

.table > table th.actions-column {
    min-width: 130px;
}

.table > table th.drag-column {
    width: 50px;
}

.action-link {
    display: inline-block;
    color: darkcyan;
    padding-top: 3px 5px;
}

.action-link + .action-link {
    padding-left: 10px;
}