:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.spacer {
  flex: 1;
}

.toolbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: darkcyan;
  color: white;
  font-weight: 600;
  box-sizing: border-box;
}

.toolbar a.home-logo {
  color: white;
  font-weight: bold;
  padding: 0 30px;
  font-size: 35px;
  cursor: pointer;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar .profile {
  margin-right: 20px;
}

.toolbar .profile .link {
  color: white;
  cursor: pointer;
}

.toolbar .profile .link:hover {
  color: #BBB;
}

.profile a.user-avatar {
  display: inline-block;
  cursor: pointer;
}

.profile a.user-avatar .user-avatar-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
  color: white;
}

.user-details {
  height: auto;
  display: block;
  line-height: normal;
  text-align: center;
  color: #3f3f44;
  padding: 20px 10px 15px;
  width: 240px;
}

.user-details .avatar-container {
  margin: 0 auto 20px auto;
  box-shadow: none;
}

.user-details .avatar {
  font-size: 40px;
  width: 40px;
  height: 40px;
  margin: 0;
}

.user-details .user-name {
  display: block;
  margin-bottom: 5px;
}

.user-details .user-email {
  font-size: 13px;
  display: block;
  color: #96a3b6;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.user-details .user-rank {
  margin-top: 15px;
  font-size: 15px;
  color: black;
  font-weight: 500;
}

.menu {
  width: 280px;
}

a.toolbar-link {
  color: white;
  font-weight: 500;
  margin-right: 15px;
}

@media screen and (min-width: 500px) {
  a.toolbar-link {
    color: white;
    font-weight: 500;
    margin-right: 20px;
  }
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
}