<div class="container">
    <div class="logo">H</div>
    <div class="panel">
        <div class="panel-header">
            <span>Log in to your account</span>
        </div>

        <form class="form" [formGroup]="form">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input type="text" matInput formControlName="name" [errorStateMatcher]="matcher">

                <mat-error *ngIf="form.get('name')?.hasError('required')">
                    Name is <strong>required</strong>
                </mat-error>

                <mat-error *ngIf="form.get('name')?.hasError('USER_NAME_NOT_FOUND')">
                    Name is not found
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" [errorStateMatcher]="matcher">
                
                <mat-error *ngIf="form.get('password')?.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>

                <mat-error *ngIf="form.get('password')?.hasError('PASSWORD_NOT_MATCH')">
                    Password does not match
                </mat-error>
            </mat-form-field>

            <div class="action">
                <button type="submit" class="btn-submit" (click)="login()">Login</button>
            </div>
        </form>

        <a class="panel-footer" (click)="toSignUp()">
            New to Shader Learnig?&nbsp;<span>Sign Up</span>  
        </a>
    </div>
</div>