<div class="container" [ngClass]="{ 'medium': isMedium, 'small': isSmall }">
  <div class="animation-box-1" *ngIf="isBig">
    <app-gl-scene [sceneData]="cubeGlScene" [vertexShader]="cube1Vertex" [fragmentShader]="cube1Fragment" [dencity]="2"></app-gl-scene>
  </div>

  <div class="animation-box-2">
    <app-gl-scene [sceneData]="cubeGlScene" [vertexShader]="cube2Vertex" [fragmentShader]="cube2Fragment" [dencity]="2"></app-gl-scene>
  </div>

  <div class="main">

    <ng-container *ngIf="!isSmall">
      <h1 class="contact-us-message">Contact us<br>if you have any questions<br>or project ideas</h1>
    </ng-container>

    <ng-container *ngIf="isSmall">
      <h1 class="contact-us-message">Contact us<br>if you have<br>any questions<br>or project ideas</h1>
    </ng-container>
    
    <div>
      <a class="btn-link btn-link-ico-addon darker" href="mailto:learningshader@gmail.com">Contact Us<span class="ico-container"><i class="ico arrow-up-right-ico"></i></span></a>
    </div>
  </div>

  <div class="animation-box-3">
    <app-gl-scene [sceneData]="cubeGlScene" [vertexShader]="cube2Vertex" [fragmentShader]="cube3Fragment" [dencity]="2" [timeOffset]="1000"></app-gl-scene>
  </div>

  <div class="animation-box-4" *ngIf="!isMedium">
    <app-gl-scene [sceneData]="cubeGlScene" [vertexShader]="cube1Vertex" [fragmentShader]="cube4Fragment" [dencity]="2" [timeOffset]="1000"></app-gl-scene>
  </div>
</div>