.header, .status {
    text-align: center;
}

.accepted .status {
    color: green;
}

.rejected .status {
    color: brown;
}

.status-container {
    text-align: center;
    padding: 30px;
}

.header {
    margin-bottom: 40px;
}

.status {
    font-size: 30px;
    font-weight: 500;
}

.table {
    font-size: 15px;
    margin-bottom: 15px;
    width: 300px;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.row .label {
    font-weight: 500;
}

.row.match-row .value {
    margin-right: -10px;
}

.separator {
    width: 100%;
    border-top: 1px solid #ddd;
}