<div class="container" *ngIf="model">
    <mat-card>
      <mat-card-header>
      <mat-card-title>
          <h1>{{model.name}}&nbsp;<a *hasPermission="['module_edit']" class="action-link" routerLink="/module/{{model.id}}/edit/profile"><mat-icon>edit</mat-icon></a></h1>
      </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="section">
          <div class="description">{{ model.description }}</div>
          <div class="created-by">
            <span>Created By:</span>&nbsp;<a class="name" routerLink="/user-profile/{{model.createdBy.id}}">{{ model.createdBy.name }}</a>
          </div>
        </div>
        <div class="section tasks-section">
          <div class="table">
            <module-edit-task-table
              [data]="model.tasks"
              (onReorderTasks)="reorderTasks($event)"
              (onOpenTask)="openTask($event)"
              (onEditTask)="editTask($event)">
            </module-edit-task-table>
          </div>
          <div class="action" *hasPermission="['task_create']">
            <button class="btn btn-submit" (click)="addTask()">Add Task</button>
        </div>
        </div>
      </mat-card-content>
    </mat-card>
    
  </div>
  