<div [formGroup]="form">
    <div class="form-row">
        <mat-checkbox formControlName="isOrthographic" color="primary">Orthographic</mat-checkbox>
    </div>

    <div class="form-row">

        <mat-form-field>
            <mat-label>Near</mat-label>
            <input type="text" matInput formControlName="near" [errorStateMatcher]="matcher" autocomplete="off">

            <mat-error *ngIf="form.get('near')?.hasError('pattern')">invalid</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Far</mat-label>
            <input type="text" matInput formControlName="far" [errorStateMatcher]="matcher" autocomplete="off">

            <mat-error *ngIf="form.get('far')?.hasError('pattern')">invalid</mat-error>
        </mat-form-field>

        <ng-container *ngIf="!form.get('isOrthographic').value">

            <mat-form-field>
                <mat-label>Fov</mat-label>
                <input type="text" matInput formControlName="fov" [errorStateMatcher]="matcher" autocomplete="off">

                <mat-error *ngIf="form.get('fov')?.hasError('pattern')">invalid</mat-error>
            </mat-form-field>

        </ng-container>

        <ng-container *ngIf="form.get('isOrthographic').value">

            <mat-form-field>
                <mat-label>left</mat-label>
                <input type="text" matInput formControlName="left" [errorStateMatcher]="matcher" autocomplete="off">

                <mat-error *ngIf="form.get('left')?.hasError('pattern')">invalid</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>right</mat-label>
                <input type="text" matInput formControlName="right" [errorStateMatcher]="matcher" autocomplete="off">

                <mat-error *ngIf="form.get('right')?.hasError('pattern')">invalid</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>top</mat-label>
                <input type="text" matInput formControlName="top" [errorStateMatcher]="matcher" autocomplete="off">
                
                <mat-error *ngIf="form.get('top')?.hasError('pattern')">invalid</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>bottom</mat-label>
                <input type="text" matInput formControlName="bottom" [errorStateMatcher]="matcher" autocomplete="off">

                <mat-error *ngIf="form.get('bottom')?.hasError('pattern')">invalid</mat-error>
            </mat-form-field>

        </ng-container>
    </div>

    <div class="form-row">
        <div class="form-column">
            <div class="row-header">
                Position
            </div>
            <vector-form [form]="form.get('position')"></vector-form>
        </div>

        <div class="form-column divider"></div>

        <div class="form-column">
            <div class="row-header">
                Rotation
            </div>
            <vector-form [form]="form.get('rotation')"></vector-form>
        </div>
    </div>
</div>