@import 'common.scss';

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: toRem(40);
}

.header {
    margin-bottom: toRem(28);
}

.body {
    margin-bottom: toRem(50);
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: toRem(12);
}

.close-ctrl {
    position: absolute;
    color: $black;
    cursor: pointer;
    top: toRem(32);
    right: toRem(40);

    .ico-container {
        width: toRem(40);
        height: toRem(40);
    }
}