<div class="container">
    <div class="header">
        <h3>Thanks for voting!</h3>
    </div>
    <div class="body">
        <p>
            We try to keep our questions to the highest quality possible. Could you please tell us why you disliked this
            question?
        </p>
        <form class="form" [formGroup]="form">

            <div class="form-row">
                <mat-checkbox formControlName="unclearDescription" color="primary">Description or
                    examples are unclear
                    or
                    incorrect</mat-checkbox>
            </div>

            <div class="form-row">
                <mat-checkbox formControlName="strictRuntime" color="primary">Runtime is too strict</mat-checkbox>
            </div>

            <div class="form-row">
                <mat-checkbox formControlName="other" color="primary">Other</mat-checkbox>
            </div>

            <div class="form-row">
                <textarea class="additional-feedback" matInput formControlName="message" autocomplete="off"
                    placeholder="Additional feedback"></textarea>
            </div>

        </form>
    </div>
    <div class="actions">
        <a class="btn btn-cancel" (click)="cancel()">Cancel</a>
        <a class="btn btn-submit" (click)="submit()" [ngClass]="submitClass$ | async">Submit</a>
    </div>
</div>