@import 'common.scss';

:host {
    display: inline-block;
    width: toRem(440);
    height: toRem(270);
}

@media (max-width: 639px) {
    :host {
        width: 100%;
        height: toRem(350);
    }
}

.container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: toRem(25) toRem(20) toRem(30) toRem(20);
    display: flex;
    flex-direction: column;
    border-radius: toRem(16);
}

.primary {
    background-color: #4F6AF4;
}

.secondary {
    background-color: $white;
    box-shadow: inset 0 0 0 toRem(1) #4F6AF4;
}

.body {
    flex: 1;
}

.primary .body {
    color: $white;
}

.secondary .body {
    color: #4F6AF4;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author .name {
    color: #1F1F1F;
}

.author .title {
    color: #2D3C89;
}

.quote-ico {
    -webkit-mask-size: toRem(18);
    width: toRem(18);
    height: toRem(36);
    background-color: #2D3C89;
}

.quote-ico + .quote-ico {
    margin-left: toRem(4);
}