:host {
    display: inline-block;
    width: 440px;
    height: 270px;
}

.container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 25px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.primary {
    background-color: #4F6AF4;
}

.secondary {
    background-color: #FAFAFA;
    box-shadow: inset 0 0 0 1px #4F6AF4;
}

.body {
    flex: 1;
    font-family: Roboto;
    font-size: 16px;
    line-height: 20px;
}

.primary .body {
    color: #FAFAFA;
}

.secondary .body {
    color: #4F6AF4;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author .name {
    color: #1F1F1F;
}

.author .title {
    color: #2D3C89;
}

.quote-ico {
    -webkit-mask-size: 18px;
    width: 18px;
    height: 36px;
    background-color: #2D3C89;
}

.quote-ico + .quote-ico {
    margin-left: 4px;
}