form {
    display: flex;
    flex-direction: column;
}

mat-form-field {
    margin: 20px;
}

a.btn-submit {
    background-color: darkcyan;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}