<div class="container max-width">

  <ng-container *ngIf="isBig">
    <div class="animation-box-1" *ngIf="!isSmall">
      <app-gl-scene [sceneData]="cubeGlScene" [vertexShader]="cube1Vertex" [fragmentShader]="cube1Fragment" [dencity]="2"></app-gl-scene>
    </div>

    <div class="animation-box-2" *ngIf="isBig">
      <app-gl-scene [sceneData]="cubeGlScene" [vertexShader]="cube2Vertex" [fragmentShader]="cube2Fragment" [dencity]="2"></app-gl-scene>
    </div>

    <div class="animation-box-3" *ngIf="!isSmall">
      <app-gl-scene [sceneData]="cubeGlScene" [vertexShader]="cube1Vertex" [fragmentShader]="cube3Fragment" [dencity]="2" [timeOffset]="1000"></app-gl-scene>
    </div>
  </ng-container>

  <h2 class="header">About</h2>

  <div class="message-container">
    <span class="quotes">
      <i class="quote-filled-ico"></i>
      <i class="quote-blank-ico"></i>
    </span>

    <h3 class="message">Welcome to Shader Learning, a website dedicated to teaching you how to program shaders using math and physics. Our project is designed to help both beginners and experts learn the ins and outs of shader programming through a series of tasksand challenges</h3>
  </div>

  <div class="contacts">
    <div class="group">
      <div class="contact">
        <app-svg-icon class="ico" name="linkedin"></app-svg-icon>
        <a class="p2 link link-standout" href="https://www.linkedin.com/in/alexander-alckevich-8841a4124/">Alexander Alkevich</a>
      </div>
      <div class="contact">
        <app-svg-icon class="ico" name="mail"></app-svg-icon>
        <a class="p2 link link-standout" href="mailto:alckevich@gmail.com">alckevich@gmail.com</a>
      </div>
    </div>
    <div class="group">
      <div class="contact">
        <app-svg-icon class="ico" name="linkedin"></app-svg-icon>
        <a class="p2 link link-standout" href="https://www.linkedin.com/in/ulyana-khatkevich-78b4a4233/">Ulyana Alkevich</a>
      </div>
      <div class="contact">
        <app-svg-icon class="ico" name="behance"></app-svg-icon>
        <a class="p2 link link-standout" href="https://www.behance.net/ulakhatkevich">Ulya Alkevich</a>
      </div>
    </div>
  </div>

</div>