@import 'common.scss';

:host {
    display: block;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: toRem(80) 0;

    @include for-phone-only {    
        padding-top: toRem(50);
    }
}

.header {
    margin-bottom: toRem(50);

    @include for-phone-only {    
        margin-bottom: toRem(30);
    }
}

.message-container {
    display: flex;
    flex-direction: row;
    gap: toRem(13);
    margin-bottom: toRem(50);

    @include for-phone-only {    
        flex-direction: column;
        gap: toRem(16);
        margin-bottom: toRem(30);
    }
}

.message {
    max-width: toRem(480);
}

.quotes {
    white-space: nowrap;
}

.quotes i + i {
    margin-left: toRem(4);
}

.contacts {
    display: flex;
    flex-direction: row;
    gap: toRem(40);

    @include for-phone-only {
        flex-direction: column;
        gap: toRem(20);
    }

    .group {
        display: flex;
        flex-direction: column;
        gap: toRem(20);

        @include for-desktop-up {
            flex-direction: row;
            gap: toRem(40);
        }
    }
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: toRem(12);

    .ico {
        width: toRem(40);
        min-width: toRem(40);
        height: toRem(40);
        min-height: toRem(40);
    }

    .link {
        text-decoration: underline;
        color: $blue;
    }
}

.animation-box-1 {
    width: toRem(100);
    height: toRem(100);
    position: absolute;
    top: toRem(120);
    right: toRem(80);
}

.animation-box-2 {
    width: toRem(40);
    height: toRem(40);
    position: absolute;
    top: toRem(260);
    right: toRem(80);
}

.animation-box-3 {
    position: absolute;
    width: toRem(60);
    height: toRem(60);
    top: toRem(200);
    right: toRem(200);
}