.container {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px 0 50px;
}

@media screen and (min-width: 500px) {
    .content {
        width: 200px;
    }
}

.message {
    font-size: 20px;
}

.actions {
    padding: 10px 10px 20px 10px;
    display: flex;
    justify-content: center;
}