<div class="container">
    <div class="form-part">
        <div class="logo-wrapper">
            <a class="logo-link" routerLink="/">
                <img class="logo" src="assets/logo.svg" alt="Shader Learning">
            </a>
        </div>
        <h2 class="title">Sign in</h2>
        <div class="form-wrapper">
            <a class="btn-link google">
                <app-svg-icon name="google"></app-svg-icon><p class="p2 label">Log in with Google</p>
                <asl-google-signin-button shape="rectangular" type="standard" size="medium" locale="en" width="280px"></asl-google-signin-button>
            </a>

            <div class="separator">
                <div class="line"></div><span class="p3">or</span><div class="line"></div>
            </div>
                
            <form class="form" [formGroup]="form" autocomplete="on">
                <div class="form-field" [ngClass]="{'invalid': form.get('email')?.invalid && form.get('email')?.touched}">
                    <label class="p2">Email</label>
                    <input name="email" type="text" placeholder="Enter your email" formControlName="email" autocomplete="email">

                    <div class="errors">
                        <div class="error p3" *ngIf="form.get('email')?.hasError('required')">email is required</div>
                        <div class="error p3" *ngIf="form.get('email')?.hasError('email') && !form.get('email')?.hasError('required')">incorrect email</div>
                        <div class="error p3" *ngIf="form.get('email')?.hasError('EMAIL_NOT_FOUND')">email is not found</div>
                    </div>
                </div>

                <div class="form-field" [ngClass]="{'invalid': form.get('password')?.invalid && form.get('password')?.touched}">
                    <label class="p2">Password</label>

                    <div class="input-group input-group-inner-addon-right">
                        <input name="password" [type]="passwordHidden ? 'password' : 'text'" placeholder="Enter your password" formControlName="password" autocomplete="password">
                        <a class="btn-ico inner-addon-right" (click)="togglePasswordVisibility()">
                            <i class="ico eye-ico" *ngIf="passwordHidden" ></i>
                            <i class="ico eye-off-ico" *ngIf="!passwordHidden"></i>
                        </a>
                    </div>

                    <div class="errors">
                        <div class="error p3" *ngIf="form.get('password')?.hasError('required')">password is required</div>
                    </div>
                </div>

                <a class="link p3 link-standout" routerLink="/password-reset">Forgot password?</a>

                <button type="submit" class="btn-submit btn-link" (click)="login()">Sign in</button>
            </form>

            <p class="p3 underlying-message">Don't have an account?&nbsp;<a class="link link-standout" routerLink="/password-reset" (click)="toSignUp()">Create account</a></p>
        </div>
    </div>
    <div class="image-part">
        <div class="image-wrapper">
            <img src="assets/sign-in.svg">
        </div>
    </div>
</div>