/* You can add global styles to this file, and also import other style files */

@import '/node_modules/codemirror/lib/codemirror.css';
@import '/node_modules/codemirror/addon/hint/show-hint.css';

@font-face {
    font-family: "Avenir Next LT Pro Regular";
    src: url("/assets/AvenirNextLTPro-Regular.otf") format("opentype") ;
}

@font-face {
    font-family: "Avenir Next LT Pro Bold";
    src: url("/assets/AvenirNextLTPro-Bold.otf") format("opentype") ;
}

html,
body,
#index {
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: -apple-system, Roboto, sans-serif;
}

.description-markdown-compiled code {
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: keep-all;
    padding: 2px 4px;
    color: #1f1e24;
    background-color: #ececef;
    border-radius: 4px;
    display: inline-block;
    font-family: var(--default-mono-font, "Menlo"), "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
}

.description-markdown-compiled *:first-child {
    margin-top: 0;
}

.description-markdown-compiled pre>code {
    display: block;
    padding: 12px;
    background-color: #fff;
    color: #333238;
    margin-bottom: 16px;
    line-height: 1.6em;
    overflow-x: auto;
    border-radius: 4px;
    border: 1px solid #e3e3e3
}

.description-markdown-compiled pre {
    font-family: monospace;
    white-space: pre;
}

.description-markdown-compiled h1 {
    margin: 24px 0 16px;
    border-bottom: 1px solid #e6e6ea;
}

.description-markdown-compiled h2 {
    margin: 24px 0 16px;
    border-bottom: 1px solid #e6e6ea;
}

.description-markdown-compiled h3 {
    margin: 24px 0 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
    width: 100%;
}

h1 {
    font-size: 42px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 15px;
}

h2 {
    font-size: 28px;
    font-weight: 700;
}

h3 {
    font-size: 22.5px;
    font-weight: 500;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: darkcyan;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
}

ul {
    list-style: none;
    left: 0;
    left: 0;
}

.btn {
    width: 100px;
    height: 50px;
    /* border-radius: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    border: 0;
}

.btn+.btn {
    margin-left: 10px;
}

.btn.btn-cancel {
    color: darkcyan;
    background-color: white;
    box-shadow: inset 0 0 1px 2px darkcyan;
}

.btn.btn-submit {
    color: white;
    background-color: darkcyan;
}

.btn.btn-rounded {
    border-radius: 5px;
}

.btn.disabled {
    opacity: 0.75;
    cursor: not-allowed;
}

.page-container {
    height: 100%;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    justify-content: center;
    box-sizing: border-box;
}

.page {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page-scroll {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-content-wrapper {
    width: 100%;
    max-width: 860px;
}

@media screen and (max-width: 890px) {
    .page-content-wrapper {
        box-sizing: border-box;
        padding: 0 15px;
    }
}

.page-footer {
    width: 100%;
    height: 100px;
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.page-header {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
}

.page-header .icon {
    color: darkcyan;
    font-size: 30px;
    width: 30px;
    height: 30px;
}

.mat-mdc-menu-panel .mat-mdc-menu-content {
    padding: 0;
}

.mdc-checkbox__ripple {
    display: none !important;
}

.mat-ripple-element {
    display: none !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 0 !important;
}

mat-tab-group.bordered-header mat-tab-header {
    border-bottom: 1px solid #e3e3e3;
}

.mat-mdc-tab.error .mdc-tab__text-label {
    color: brown !important;
}

.CodeMirror-hints {
    background: #e3e3e3;
    border: none;
    border-radius: 0;
    padding: 0;
}

.CodeMirror-hint {
    padding: 4px 8px;
    color: #555;
    border-radius: 0;
}

/*************************************************/
/**********************COMMON*********************/
/*************************************************/

h1 {
    font-family: "Avenir Next LT Pro Bold";
    font-size: 40px;
    line-height: 50px;
    color: #1F1F1F;
    margin: 0;
}

h2 {
    font-family: "Avenir Next LT Pro Bold";
    font-size: 36px;
    line-height: 40px;
    margin: 0;
    color: #1F1F1F;
}

h3 {
    font-family: "Avenir Next LT Pro Bold";
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    color: #1F1F1F;
}

.p1 {
    font-family: "Avenir Next LT Pro Regular";
    line-height: 24px;
    font-size: 18px;
    color: #1F1F1F;
}

.p2 {
    font-family: "Avenir Next LT Pro Regular";
    line-height: 16px;
    font-size: 16px;
    color: #1F1F1F;
}

.p3 {
    font-family: "Avenir Next LT Pro Regular";
    line-height: 20px;
    font-size: 14px;
    color: #1F1F1F;
}

* {
    font-family: "Avenir Next LT Pro Regular";
    color: #1F1F1F;
}

.quote-filled-ico {
    display: inline-block;
    width: 12px;
    height: 25px;
    background-color: #4F6AF4;
    -webkit-mask-image: url(/assets/quote-filled.svg);
    -webkit-mask-repeat: no-repeat;
    mask-image: url(/assets/quote-filled.svg);
    mask-repeat: no-repeat;
}

.quote-blank-ico {
    display: inline-block;
    width: 14px;
    height: 26px;
    background-color: #4F6AF4;
    -webkit-mask-image: url(/assets/quote-blank.svg);
    -webkit-mask-repeat: no-repeat;
    mask-image: url(/assets/quote-blank.svg);
    mask-repeat: no-repeat;
}

.arrow-up-right-ico {
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: #1F1F1F;
    -webkit-mask-image: url(/assets/arrow-up-right.svg);
    mask-image: url(/assets/arrow-up-right.svg);
}

.arrow-up-ico {
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: #1F1F1F;
    -webkit-mask-image: url(/assets/arrow-up.svg);
    mask-image: url(/assets/arrow-up.svg);
}

.chevron-left-ico {
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: #1F1F1F;
    -webkit-mask-image: url(/assets/chevron-left.svg);
    mask-image: url(/assets/chevron-left.svg);
}

.chevron-right-ico {
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: #1F1F1F;
    -webkit-mask-image: url(/assets/chevron-right.svg);
    mask-image: url(/assets/chevron-right.svg);
}


.btn-circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #4F6AF4;
    cursor: pointer;
}

.btn-circle .ico {
    background-color: #FAFAFA;
}

.btn-circle.secondary {
    background-color: #FAFAFA;
}

.btn-circle.secondary .ico {
    background-color: #4F6AF4;
}

.btn-circle:hover, .btn-circle.secondary:hover {
    background-color: #575757;
}

.btn-circle.secondary:hover .ico {
    background-color: #FAFAFA;
}

.btn-circle:active, .btn-circle.secondary:active {
    background-color: #1F1F1F;
}

.btn-circle.secondary:active .ico {
    background-color: #FAFAFA;
}

.btn-circle[disabled=true] {
    cursor: not-allowed;
    pointer-events: none;
    background-color: #FAFAFA;
    box-shadow: inset 0 0 0 2px #BCBCBC;
}

.btn-circle.secondary[disabled=true] {
    cursor: not-allowed;
    pointer-events: none;
    background-color: #FAFAFA;
    box-shadow: none;
}

.btn-circle[disabled=true] .ico, .btn-circle.secondary[disabled=true] .ico {
    background-color: #BCBCBC;
}

.btn-link {
    font-family: "Avenir Next LT Pro Regular";
    text-decoration: none;
    display: inline-block;
    background-color: #4F6AF4;
    color: #FAFAFA;
    padding: 12px 24px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 48px;
    user-select: none;
}

.btn-link:hover {
    background-color: #575757;
}

.btn-link:active {
    background-color: #1F1F1F;
}

.btn-link-ico-addon {
    position: relative;
    padding-right: 45px;
}

.btn-link-ico-addon .ico-container {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #FAFAFA;
    position: absolute;
    right: 4px;
    top: 4px;
}

.btn-link.btn-link-ico-addon:hover .ico {
    background-color: #575757;
}

.btn-link.btn-link-ico-addon:active .ico {
    background-color: #1F1F1F;
}

.btn-link.darker {
    background-color: #2D3C89;
}

.btn-link.darker .ico {
    background-color: #2D3C89;
}

.btn-link.darker:hover {
    background-color: #575757;
}

.btn-link.darker:active {
    background-color: #1F1F1F;
}

.ph-animation {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -50%;
    z-index: 1;
    width: 100%;
    pointer-events: none;
    content: " ";
    background-color: #d9d9d900;
    background: linear-gradient(to right, #d9d9d900 30%, #fafafa50 50%, #d9d9d900 70%);
    animation: ph-animation 1s linear infinite;
}

@keyframes ph-animation {
    0% {
        transform: translate(-50%, 0);
    }

    90% {
        transform: translate(150%, 0);
    }

    100% {
        transform: translate(150%, 0);
    }
}