<div class="container">

  <div class="slogan-column">
    <div class="slogan">
      <span class="quotes">
        <i class="quote-filled-ico"></i>
        <i class="quote-blank-ico"></i>
      </span>
      
      <p class="p1">
        We believe that education should be accessible to everyone, regardless of their financial means. With your donation, we can continue to provide our GLSL task platform free of charge to individuals around the world who are eager to learn and grow
      </p>
    </div>
    <a class="btn-link btn-link-ico-addon darker" href="https://www.buymeacoffee.com/alckevich">Donate<span class="ico-container"><i class="ico arrow-up-right-ico"></i></span></a>
  </div>

  <div class="persons-column">
    <div class="persons">
      <div class="person first">
        <div class="row">
          <img class="photo" src="assets/alexander.png">
        </div>
        <div class="row">
          <h3 class="name">Alexander Alkevich</h3>
          <p class="p2 title">Project Creator</p>
        </div>
      </div>

      <div class="person second">
        <div class="row">
          <img class="photo" src="assets/ulyana.png">
        </div>
        <div class="row">
          <h3 class="name">Ulyana Khatkevich</h3>
          <p class="p2 title">Project Designer</p>
        </div>
      </div>
    </div>
  </div>

</div>