<div class="module">

  <app-sticky [active]="!isSmall">
    <div class="heading">
      <app-svg-img class="page-header-image" [src]="pageHeaderImageSrc"></app-svg-img>

      <div class="container max-width">

        <a class="btn-text white back-link" routerLink="/explore"><i class="ico arrow-left-ico"></i><span class="text">Back To Explore</span></a>

        <div class="title">
          <h2 class="module-name">{{module!.name}}</h2>
          <span class="p3 capacity"><span *ngIf="started">{{accepted}}&nbsp;/&nbsp;</span>{{module!.tasks.length}}&nbsp;tasks</span>
          <a class="btn-ico" *hasPermission="['module_edit']" routerLink="/module/{{module.id}}/edit"><mat-icon>edit</mat-icon></a>
        </div>
        
        <div class="description p2">
          {{ module!.description }}
        </div>

        <ng-container *ngIf="!finished">
          <a class="btn-link btn-link-ico-addon darker" routerLink="/module-training/{{ module!.id }}/task">{{started ? 'Continue' : 'Start'}}<span class="ico-container"><i class="ico arrow-up-right-ico"></i></span></a>
        </ng-container>
        <!-- <div class="created-by">
          <span>Author:</span>&nbsp;<a class="name" routerLink="/user-profile/{{module.createdBy.id}}">{{ module.createdBy.name }}</a>
        </div> -->

      </div>
    </div>
  </app-sticky>
  
  <div class="curriculum max-width">
    <module-navigation
      [moduleId]="module.id"
      [tasks]="module.tasks"
      [selectedId]="-1"
    ></module-navigation>
  </div>

</div>