<div class="page-container" *ngIf="module && (loaded$ | async) == true">

  <div class="page">

    <div class="page-scroll">

        <div class="module">

          <div class="module-heading-container">

            <div class="module-heading">

              <h1 class="title">{{module.name}}&nbsp;<a *hasPermission="['module_edit']" class="action-link" routerLink="/module/{{module.id}}/edit"><mat-icon>edit</mat-icon></a></h1>
              <div class="description">{{ module.description }}</div>
              <div class="created-by">
                <span>Author:</span>&nbsp;<a class="name" routerLink="/user-profile/{{module.createdBy.id}}">{{ module.createdBy.name }}</a>
              </div>

            </div>

          </div>

          <div class="curriculum-container">

            <div class="curriculum">
              
              <div class="title">Module Curriculum</div>
                
              <module-navigation
                [moduleId]="module.id"
                [tasks]="module.tasks"
                [selectedId]="-1"
              ></module-navigation>

            </div>

          </div>

        </div>
    </div>

  </div>

  <div class="page-footer">
    <a routerLink="/module-progress/{{ module.id }}/training"><span>Start</span></a>
  </div> 

</div>