@import 'common.scss';

:host {
    display: block;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: toRem(20);
}

.filename {
    margin-bottom: toRem(10);
    color: $grey;
}

.code {
    border-radius: toRem(8);
    overflow: hidden;
}